@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  background: #cbcfcf;
  font-size: 1.8rem;
  line-height: normal;
  font-family: 'Abel', sans-serif;
}

#main{
  margin: 0 10px;
  text-align: center;
  background: #dad0d7;
}
.drnormanname{
  margin: 52px;
}

#github{
  filter: invert(100%);
}
.githubfigure{
  width: 50px;
}

.linkedinfigure{
  position:relative;
  margin-top: 15px;
  width: 50px;
}

.githubfigure:hover{
  transform:scale(2);
}


.linkedinfigure:hover{
  transform:scale(2);
}


.main-menu{
  width: 100%;
  background-image: linear-gradient(to right, #240047, #1c0021); 
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

#image{
  max-width: 100%;
  height: auto;
}
.subtitle{
  font-size: 1.5rem;
  text-align: center;
}

#img-div{
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  background: white;
}

#img-caption{
  font-size: 1.3rem;
  margin: 15px 0 5px 0;
  text-align: center;
}

#tribute-info{
  max-width: 550px;
  margin: 0 auto 30px auto; 
  text-align: left;
  line-height: 1.2;
  list-style:inside;
  font-size: 1.2rem;
  box-sizing: border-box;
}

blockquote{
  font-family: italic;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.citation{
  font-size: 1.5rem;
}

#wikipedia{
  margin-bottom: 50px;
}
#tribute-link{
  text-decoration: underline;
  color: black;
  font-weight: bold; 
}





@media(max-width:350px){
  main .drnormanname {
  margin: 20px;
  font-size: 1.2rem;
  }
  main .subtitle{
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
  main #img-div{
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
  background: white;
  }
  main #img-caption{
    font-size: 0.7rem;
    margin-top: 0px;
  }
  h4{
    font-size: 1.2rem;
  }
  main #tribute-info{
    font-size: 0.7rem;
    margin: 2px 10px;
  }
  main .citation{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

