* {
  box-sizing: border-box;
}

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
  counter-reset: headings;
}

body {
  background: var(--color-white);
  background-image: url("https://miro.medium.com/max/875/0*xQwTirJ8sGya9dlS");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

#main {
  background-color: var(--color-darkblue-alpha);
  width: clamp(250px, 50%, 1000px);
  font-size: clamp(15px, 50%, 50px);
  height: auto;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: left;
  grid-template-rows: left;
  margin: 10px auto auto auto;
  border: 1px solid;
}



#name,
#email,
#age,
#form-group {
  padding: 0.25rem;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-white);
}

#place-holder,
#dropdown {
  margin-top: clamp(2px,50%,4px);
  margin-left: 10px;
  margin-right: 10px; 
  text-align: center;
  font-size: clamp(0.75rem,50%,1.5rem);
  
}

.text {
  margin: 10px auto 10px 0;
  padding: 0.25rem;
  font-size: 1.25rem;
  color: var(--color-white);
}

#text {
  margin: 5px auto 5px 0;
  padding: 0.25rem;
  font-size: clamp(1.25rem,50%,0.75rem);
  color: var(--color-white);
}
span{
  line-height: clamp(0.75rem,50%,1.5rem);
  color: var(--color-white);
}


.input-checkbox {
  justify-content: left;
  place-items: left;
  color: var(--color-white);
}

#comments{
 max-width:100%;
 margin: 0 5px 5px 5px;
}

#commentorsugestion{
  margin-bottom:0px;
}
.submit-button{
  width: 95%;
  color: var(--color-white);
  background: var(--color-green);
  border-radius: 5%;
  font-size: 1rem;
  margin: 10px 10px;
}


#codecamptitle {
  margin: auto;
  color: #F2F2F2;
}

#description {
  font-size: 1rem;
  margin: 5px auto auto auto;
  color: #F2F2F2;
}
#codecamptitle:hover{
  transform:scale(1.2);
}
#description:hover{
  transform:scale(1.2);
}
.input-checkbox {
  margin: 10px auto 5px 10px;
  padding: 0.25rem;
  font-size: 1.25rem;
}





.grid {
  width: clamp(200px, 50%, 600px);
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 100px 200px;
}
